#dwelling {
  overflow: hidden;
}
#dwelling #dwelling-background-image {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
#dwelling #dwelling-background-image.loading {
  transition: 0.1s linear;
}
#dwelling #dwelling-background-image.loading.ng-add {
  opacity: 0;
}
#dwelling #dwelling-background-image.loading.ng-remove {
  opacity: 1;
}
#dwelling .dwelling-marker {
  display: block;
  position: absolute;
  float: left;
  z-index: 5;
  font-family: Tahoma, Geneva, sans-serif;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  opacity: 1;
}
#dwelling .dwelling-marker.hidden {
  opacity: 0;
}
#dwelling .dwelling-marker.queue {
  background: url('img/sprite.png') no-repeat -684px -168px;
  width: 53px;
  height: 82px;
}
#dwelling .dwelling-marker.queue:hover {
  background: url('img/sprite.png') no-repeat -684px -84px;
  width: 53px;
  height: 81px;
}
#dwelling .dwelling-marker.flats {
  background: url('img/sprite.png') no-repeat -557px -139px;
  width: 74px;
  height: 73px;
  padding-top: 8px;
}
#dwelling .dwelling-marker.back {
  background: url('img/sprite.png') no-repeat -353px -62px;
  width: 55px;
  height: 56px;
  top: 20px;
  margin-left: 0px;
}
#dwelling .dwelling-marker.filter {
  position: absolute;
  right: 30px;
  bottom: 30px;
  background: url('img/sprite.png') no-repeat -295px -476px;
  width: 156px;
  height: 159px;
}
#dwelling .dwelling-marker.close-filter {
  float: left;
  background: url('img/sprite.png') no-repeat -353px -62px;
  width: 55px;
  height: 56px;
  margin-left: -27px;
  margin-top: 10px;
}
#dwelling .dwelling-marker.phase {
  width: 85px;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 15px;
  border-radius: 10px;
  font-size: 40px;
  line-height: 17px;
  color: #0D47A1;
  background: white;
  cursor: default;
}
#dwelling .dwelling-marker.phase.phase-queue {
  top: 95px;
}
#dwelling .dwelling-marker.phase.phase-house {
  top: 185px;
}
#dwelling .dwelling-marker.phase .title {
  font-size: 14px;
  text-transform: uppercase;
}
#dwelling .dwelling-marker .marker-caption {
  display: block;
  font-size: 35px;
  letter-spacing: 0px;
  color: white;
}
#dwelling .dwelling-marker .marker-title {
  display: block;
  font-size: 9px;
  text-transform: uppercase;
  color: white;
}
#dwelling #dwelling-phases {
  position: relative;
  width: 100px;
  height: 100%;
  float: left;
  clear: both;
  z-index: 5;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  box-sizing: border-box;
  margin-left: 0px;
  transition: 0.1s linear;
}
#dwelling #dwelling-phases.ng-enter {
  margin-left: -100px;
}
#dwelling #dwelling-phases.ng-enter-active {
  margin-left: 0px;
}
#dwelling #dwelling-phases.ng-leave {
  margin-left: 0px;
}
#dwelling #dwelling-phases.ng-leave-active {
  margin-left: -100px;
}
#dwelling #dwelling-phases .dwelling-marker {
  margin-left: 20px;
  margin-bottom: 20px;
}
#dwelling #dwelling-phases .dwelling-marker.phase {
  margin-left: 10px;
}
#dwelling #dwelling-filter-popup {
  position: absolute;
  right: 10%;
  left: 10%;
  top: 15%;
  bottom: 15%;
  width: 80%;
  min-width: 935px;
  height: 70%;
  min-height: 425px;
  float: left;
  z-index: 7;
  background: white;
  box-sizing: border-box;
  transition: 0.1s linear;
}
#dwelling #dwelling-filter-popup.ng-enter {
  opacity: 0;
}
#dwelling #dwelling-filter-popup.ng-enter-active {
  opacity: 1;
}
#dwelling #dwelling-filter-popup.ng-leave {
  opacity: 1;
}
#dwelling #dwelling-filter-popup.ng-leave-active {
  opacity: 0;
}
#dwelling #dwelling-filter-popup #dwelling-filter-popup-header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  padding-left: 10px;
  padding-right: 20px;
}
#dwelling #dwelling-filter-popup #dwelling-filter-popup-header #header-left {
  width: 400px;
  height: 100%;
  float: left;
  padding-left: 35px;
  padding-top: 30px;
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: 15px;
  color: gray;
}
#dwelling #dwelling-filter-popup #dwelling-filter-popup-header #header-left span {
  cursor: pointer;
}
#dwelling #dwelling-filter-popup #dwelling-filter-popup-header #header-right {
  margin-left: 400px;
  height: 100%;
}
#dwelling #dwelling-filter-popup #dwelling-filter-popup-header #header-right table {
  width: 100%;
  border-spacing: 0px;
}
#dwelling #dwelling-filter-popup #dwelling-filter-popup-header #header-right table th {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
  text-align: center;
  color: darkgray;
  font-family: "Verdana";
  font-size: 12px;
}
#dwelling #dwelling-filter-popup #dwelling-filter-popup-header #header-right table th .label {
  padding-bottom: 3px;
  cursor: pointer;
  border-bottom: 1px dotted darkgray;
}
#dwelling #dwelling-filter-popup #dwelling-filter-popup-sliders {
  position: absolute;
  top: 50px;
  left: 0px;
  bottom: 10px;
  width: 400px;
  padding-left: 45px;
  padding-right: 45px;
  box-sizing: border-box;
}
#dwelling #dwelling-filter-popup #dwelling-filter-popup-sliders h2 {
  display: block;
  font-family: "Helvetica Neu";
  font-size: 27px;
  color: gray;
  text-align: center;
}
#dwelling #dwelling-filter-popup #dwelling-filter-popup-data {
  position: absolute;
  top: 50px;
  left: 400px;
  right: 0px;
  bottom: 10px;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
}
#dwelling #dwelling-filter-popup #dwelling-filter-popup-data table {
  width: 100%;
  border-spacing: 0px;
}
#dwelling #dwelling-filter-popup #dwelling-filter-popup-data table tbody tr {
  cursor: pointer;
}
#dwelling #dwelling-filter-popup #dwelling-filter-popup-data table tbody tr.no-hover {
  cursor: default !important;
  background: white !important;
}
#dwelling #dwelling-filter-popup #dwelling-filter-popup-data table tbody tr.no-hover td {
  padding-top: 100px;
}
#dwelling #dwelling-filter-popup #dwelling-filter-popup-data table tbody tr.no-hover:hover {
  background: white;
  color: black;
}
#dwelling #dwelling-filter-popup #dwelling-filter-popup-data table tbody tr:hover {
  background: #01579B;
  color: white;
}
#dwelling #dwelling-filter-popup #dwelling-filter-popup-data table tbody tr:nth-child(odd) {
  background: #FFF3E0;
}
#dwelling #dwelling-filter-popup #dwelling-filter-popup-data table tbody tr:nth-child(odd):hover {
  background: #01579B;
}
#dwelling #dwelling-filter-popup #dwelling-filter-popup-data table tbody td {
  padding: 15px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
#dwelling #dwelling-filter-popup #dwelling-filter-popup-total {
  padding-top: 10px;
  font-family: "Verdana";
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: gray;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#dwelling #dwelling-filter-popup #dwelling-filter-popup-total .big {
  font-family: "Helvetica";
  font-size: 35px;
  color: #2E7D32;
}
#dwelling .slider-control {
  position: relative;
  height: 60px;
  padding-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#dwelling .slider-control .slider-picker {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 50px;
  cursor: pointer;
}
#dwelling .slider-control .slider-picker.start {
  left: 0px;
}
#dwelling .slider-control .slider-picker.end {
  right: 0px;
}
#dwelling .slider-control .slider-picker .slider-picker-label {
  display: block;
  height: 15px;
  margin-bottom: 3px;
  text-align: center;
  font-family: "Tahoma";
  font-size: 14px;
  font-weight: bold;
  color: #2E7D32;
}
#dwelling .slider-control .slider-picker .slider-picker-pin {
  display: inline-block;
  height: 30px;
  width: 30px;
  box-sizing: border-box;
  border-bottom: 3px solid #01579B;
  border-radius: 50%;
  background: #0288D1;
}
#dwelling .slider-control .slider-picker .slider-picker-pin:hover {
  background: #0277BD;
}
#dwelling .slider-control .slider-line {
  height: 2px;
  margin-top: 33px;
  background: lightgray;
  border-top: 1px solid darkgray;
}
#dwelling .slider-control .slider-caption {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Verdana";
  font-size: 12px;
}
