<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css.css">
    <script src="angularjs/angular.min.js"></script>
    <script src="angularjs/angular-animate.min.js"></script>
</head>
<body>
    <div id="dwelling" ng-app="dwellingApp" ng-controller="DwellingController">
        <img id="dwelling-background-image" ng-src="{{ dwelling.get().getBackground() }}" ng-class="{ 'loading': imgIsLoading === true }">
        <svg id="dwelling-svg" xmlns="http://www.w3.org/2000/svg">
            <polyline ng-repeat="queue in dwelling.queues.getAll()"
                      ng-show="currentQueue === undefined"
                      ng-attr-points="{{ queue.getCoords() }}"
                      ng-click="selectQueue(queue.number)"
                      ng-mousemove="queueMouseIn(queue)"
                      ng-mouseleave="queueMouseOut(queue)"
            />
            <polyline ng-repeat="house in dwelling.houses.getAll()"
                      ng-show="currentHouse === undefined && currentQueue !== undefined && house.queueNumber === currentQueue.number"
                      ng-attr-points="{{ house.getCoords() }}"
                      ng-click="selectHouse(house)"
                      ng-mousemove="queueHouseIn(house)"
                      ng-mouseleave="houseMouseOut(house)"
            />
        </svg>
        <div class="dwelling-marker"
             ng-repeat="marker in dwelling.markers.getAll()"
             ng-show="marker.isVisible() === true"
             ng-click="onClickMarker(marker)"
             ng-mousemove="markerMouseIn(marker, $event)"
             ng-mouseleave="markerMouseOut(marker, $event)"
             ng-class="{ 'queue': marker.class === 'queue', 'flats': marker.class === 'flats', 'filter': marker.class === 'filter' }"
             style="{{ marker.getCoords() }}">
                <span class="marker-caption">{{ marker.caption }}</span>
                <span class="marker-title">{{ marker.title }}</span>
        </div>

        <div id="dwelling-phases" ng-if="filterPopup === false">
            <div class="dwelling-marker back"
                 ng-show="currentQueue !== undefined"
                 ng-click="back()">
            </div>
            <div class="dwelling-marker phase phase-queue" ng-show="currentQueue !== undefined">{{ currentQueue.number }}<br/><span class="title">очередь</span></div>
            <div class="dwelling-marker phase phase-house" ng-show="currentHouse !== undefined">{{ currentHouse.number }}<br/><span class="title">дом</span></div>
        </div>

        <div id="dwelling-filter-popup" ng-if="filterPopup === true">
            <div id="close-filter" class="dwelling-marker close-filter" ng-click="closeFilter()"></div>
            <div id="dwelling-filter-popup-header">
                <div id="header-left"><span ng-click="closeFilter()">Назад</span></div>
                <div id="header-right">
                    <table>
                        <thead>
                            <th style="width: 10%">Дом</th>
                            <th style="width: 15%">Подъезд</th>
                            <th style="width: 10%">Этаж</th>
                            <th style="width: 10%">№</th>
                            <th style="width: 10%">Комнат</th>
                            <th style="width: 25%">Площадь, м<sup>2</sup></th>
                            <th style="width: 20%">Цена, р.</th>
                        </thead>
                    </table>
                </div>
            </div>
            <div id="dwelling-filter-popup-sliders">
                <h2>Подбор по параметрам</h2>
                <slider min-value="0" min-value-model="filters.minFloor" max-value-model="filters.maxFloor" max-value="5" step="1" caption="этаж"></slider>
                <slider min-value="0" min-value-model="filters.minRoomsCount" max-value-model="filters.maxRoomsCount" max-value="5" step="1" caption="комнат"></slider>
                <slider min-value="0" min-value-model="filters.minArea" max-value-model="filters.maxArea" max-value="5" step="1" caption="площадь, м2"></slider>
                <slider min-value="0" min-value-model="filters.minPrice" max-value-model="filters.maxPrice" max-value="5" step="0.1" caption="цена, млн. р."></slider>
                <div id="dwelling-filter-popup-total">
                    Найдено <span class="big">{{ filtered.length }}</span> квартир<span ng-show="">ы</span>
                </div>
            </div>
            <div id="dwelling-filter-popup-data">
                <table>
                    <tbody>
                    <tr ng-repeat="flat in filtered = (dwelling.flats.getAll() | floor:filters.minFloor:filters.maxFloor | rooms:filters.minRoomsCount:filters.maxRoomsCount | area:filters.minArea:filters.maxArea)">
                        <td style="width: 10%">{{ flat.houseNumber }}</td>
                        <td style="width: 15%">{{ flat.entrance }}</td>
                        <td style="width: 10%">{{ flat.floor }}</td>
                        <td style="width: 10%">{{ flat.flatNumber }}</td>
                        <td style="width: 10%">{{ flat.roomsCount }}</td>
                        <td style="width: 25%">{{ flat.area.total }}</td>
                        <td style="width: 20%">{{ flat.price.toLocaleString() }}</td>
                    </tr>
                    <tr class="no-hover" ng-show="filtered.length === 0">
                        <td colspan="4">Ничего не найдено. Попробуйте изменить условия поиска.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="dwelling.js"></script>
</body>
</html>